<h1>Explore</h1>

<% 15.times do%>
  <% photo = @photos.sample %>
  <div class="new-photo-wall">
    <a href="/albums/<%= photo.album_id %>/<%= photo.id %>"><img src="<%= photo.url %>"></a>
  </div>
<% end %>
