<h1>Create Account</h1>

<form action="/createuser" method="post">
  <input type="text" name="user[email]" placeholder="email" autofocus><br>
  <input type="text" name="user[username]" placeholder="username"><br>
  <input type="password" name="user[password]" placeholder="password"><br>
  <input class="button" type="submit" value="Sign Up">
</form>
